.apartment-info {
  display: flex;
  flex-wrap: wrap;

  .left {
    flex: 2;

    .apartment-title {
      font-size: 36px;
      font-weight: normal;
      color: $card-color;
      margin-bottom: 0;
    }

    .apartment-location {
      font-size: 18px;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-left: -45px;

      li {
        background-color: $card-color;
        color: $text-light;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 14px;
        list-style-type: none;
        font-weight: bolder;
      }
    }
  } 

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;

    .rating {
      display: flex;
      color: $stars-color;

      .star {
        font-size: 40px;

        &.filled {
          color: $card-color;
        }
      }
    }

    .host {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: normal;

      p {
        color: $card-color;
        margin: 0;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
} 

.apartment-extra {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 50px;
  margin-top: 20px;

  .description-block,
  .equipments-block {
    flex: 1;
    min-width: 300px;

    .collapse-header h3 {
      font-size: 20px;
      font-weight: bold;
      color: $text-light;
      margin: 0;
      padding: 10px 0;
    }

    p,
    ul {
      font-size: 18px;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        margin-bottom: 0.3rem;
      }
    }
  }
}

// Media query pour tablette
@media (max-width: $breakpoint-tablet) {
  .apartment-info {
    flex-direction: column;

    .left {
      flex: 1;

      .apartment-title {
        font-size: 20px;
      }

      .apartment-location {
        font-size: 16px;
        margin-bottom: 20px;
      }

      .tags li {
        font-size: 12px;
        }
      } 
  
    .right {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 20px;

      .rating {
        display: flex;
        gap: 5px;

        .star {
          font-size: 30px;
        }
      }

      .host {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 14px;
          font-weight: normal;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  .apartment-extra {
    flex-direction: column;
    gap: 0;
    margin-bottom: -30px;

    p,
    ul {
      font-size: 13px !important;
    }
  }
}

// Media query pour mobile
@media (max-width: $breakpoint-mobile) {
  .apartment-extra {
    margin-bottom: -80px;
  }
  .star {
    font-size: 20px !important;
  }
      p {
        font-size: 12px !important;
      } }

// Media query pour mobile 320px
@media (max-width: $breakpoint-mobile-320px) {
  .apartment-extra {
    margin-left: -5px;
  }
}

      

 