body {
  font-family: $police-global;
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

// Media query pour mobile
  @media (max-width: $breakpoint-mobile) {
    body {
        min-height: 100vh;
  }
}