.error-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .error-title{
    color: $card-color;
    font-size: 200px;
    margin-top: 50px;
    padding: 0;
    margin-bottom: 60px;
  }
    .error-subtitle{
      color: $card-color;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 80px;
      padding: 0;
      font-size: 30px;
  }

   .error-link {
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 98px;
    color: $text-dark;
  }

// Media query pour tablette
@media (max-width: $breakpoint-tablet) {
  .error-title{
    font-size: 100px;
    margin-top: 80px;
  }

    .error-subtitle{
      font-size: 20px;
  }

   .error-link {
    font-size: 15px;
    margin-bottom: 113px;
  }
}

// Media query pour mobile
@media (max-width: $breakpoint-mobile) {
  .error-title{
    font-size: 80px;
  }

    .error-subtitle{
      font-size: 19px;
      margin-top: 20px;
  }

    .error-link {
    font-size: 14px;
     margin-bottom: 87px;
    }
  }
}
