/* Couleurs principales */
$background-light: #ffffff;
$background-dark: #000000;
$text-light: #ffffff;
$text-dark: #000000;
$card-color: #FF6060;
$background-color-card: #F6F6F6;
$stars-color: #E3E3E3;
$police-global: "Montserrat", sans-serif;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 425px;
$breakpoint-mobile-320px: 320px;

