/* Couleurs principales */
$background-light: #ffffff;
$background-dark: #000000;
$text-light: #ffffff;
$text-dark: #000000;
$card-color: #FF6060;
$background-color-card: #F6F6F6;
$police-global: "Montserrat", sans-serif;

/* Body */
body {
  font-family: $police-global;
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $background-light;
  font-size: 24px;

  &-logo {
    img {
      height: 50px;
    }
  }

  &-menu {
    display: flex;
    gap: 60px;
    list-style: none;

    a {
      text-decoration: none;
      color: $text-dark;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Home Page */
/* Main */
.home-title {
  font-size: 48px;
  background-image: url(/Backgroung.png);
  color: $text-light;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 25px;
}

/* Cards */
.cards-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 40px;
  background-color: $background-color-card;
  border-radius: 25px;
  color: $text-light;
  padding: 50px 0;
  margin: 50px 0;

  .card {
    width: 25%;
    background-color: $card-color;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: $text-light;

    h2 {
      display: flex;
      text-align: start;
      padding-left: 5px;
    }

    .img-card {
      max-width: 340px;
      height: 340px;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}

/* About Page */
/* Collapse */
.picture-container {
  .about-banniere {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;

    img {
      width: 100%;
      object-fit: cover;
      max-height: 160px;
      border-radius: 25px;
    }
  }
}

.collapse {
  margin-bottom: 30px;
  padding-bottom: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto 30px auto;

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: $card-color;
  color: $text-light;
  border-radius: 5px;

      h3 {
      font-size: 24px;
    }
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: $background-color-card;
    padding: 0 15px;

    &.open {
      padding: 15px;
    }
  }
}

/* Error Page */
.error-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .error-title{
    color: $card-color;
    font-size: 200px;
    margin-top: 50px;
    padding: 0;
    margin-bottom: 60px;
  }
    .error-subtitle{
      color: $card-color;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 80px;
      padding: 0;
      font-size: 30px;
  }

   .error-link {
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 98px;
    color: $text-dark;
  }
  }

/* Appartments details Page */
.slideshow {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 40px;

  .picture-slideshow {
    width: 100%;
    max-height: 450px;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    display: block;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: $text-light;
    font-size: 100px;
    cursor: pointer;
    transition: background 0.2s ease;
  }

  .button-left {
    left: 10px;
    background-color: transparent;
  }

  .button-right {
    right: 10px;
    background-color: transparent;
  }

  .button-number {
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    background-color: transparent;
    color: $text-light;
    padding: 4px 10px;
    font-size: 18px;
  }
}

/* Footer */
footer {
  background-color: $background-dark;
  color: $text-light;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 50px 0 10px;
  gap: 10px;
  font-size: 24px;
}
