/* Couleurs principales */
$background-light: #ffffff;
$background-dark: #000000;
$text-light: #ffffff;
$text-dark: #000000;
$card-color: #FF6060;
$background-color-card: #F6F6F6;
$police-global: "Montserrat", sans-serif;

/* Body */
body {
  font-family: $police-global;
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $background-light;
  font-size: 24px;

  &-logo {
    img {
      height: 50px;
    }
  }

  &-menu {
    display: flex;
    gap: 60px;
    list-style: none;

    a {
      text-decoration: none;
      color: $text-dark;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Home Page */
/* Main */
.home-title {
  font-size: 48px;
  background-image: url(/Backgroung.png);
  color: $text-light;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 25px;
}

/* Cards */
.cards-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 40px;
  background-color: $background-color-card;
  border-radius: 25px;
  color: $text-light;
  padding: 50px 0;
  margin: 50px 0;

  .card {
    width: 25%;
    background-color: $card-color;
    padding: 15px;
    border-radius: 10px;

    h2 {
      display: flex;
      text-align: start;
      padding-left: 5px;
    }

    .img-card {
      max-width: 340px;
      height: 340px;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}

/* About Page */
/* Collapse */
.picture-container {
  .about-banniere {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;

    img {
      width: 100%;
      object-fit: cover;
      max-height: 160px;
      border-radius: 25px;
    }
  }
}

.collapse {
  margin-bottom: 30px;
  padding-bottom: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto 30px auto;

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: $card-color;
  color: $text-light;
  border-radius: 5px;

  }
}

/* Footer */
footer {
  background-color: $background-dark;
  color: $text-light;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 50px 0 10px;
  gap: 10px;
  font-size: 24px;
}
