@use '../../styles/variables.scss' as *;

.home-title {
  font-size: 48px;
  background-image: url(/Backgroung.png);
  color: $text-light;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 25px;}

// Media query pour tablette
@media (max-width: $breakpoint-tablet) {
.home-title {
  font-size: 24px;
  border-radius: 10px;
  margin-top: 0;
}

// Media query pour mobile
@media (max-width: $breakpoint-mobile) {
.home-title {
    padding: 30px;
}}}