@use '../../styles/variables.scss' as *;

.cards-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 40px;
  background-color: $background-color-card;
  border-radius: 25px;
  color: $text-light;
  padding: 30px 10px;
  margin: 50px 0;

  .card {
    width: 25%;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: $text-light;
      background:
    linear-gradient(to top,
      rgba(0,0,0,0.2) 0%,
      rgba(0,0,0,0.0) 15%,
      rgba(0,0,0,0) 100%,
    ),
    $card-color; 
}

    h2 {
      display: flex;
      text-align: start;
      padding-left: 5px;
      font-size: 18px;
    }

    .img-card {
      max-width: 360px;
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      border-radius: 10px;
      object-fit: cover;
    }
  }
 

/* Media query pour tablette */
@media (max-width: $breakpoint-tablet) {
  .cards-grid {
    padding: 0;
    background-color: transparent;

    .card {
      width: 42%; 
      padding: 15px;

      .img-card {
        max-width: 100%; 
        aspect-ratio: 1/1;
      }
    }
  }
}

/* Media query pour mobile */
@media (max-width: $breakpoint-mobile) {
  .cards-grid {
    margin-top: 40px;
    gap: 20px;

    .card {
      width: 100%; 
      padding: 10px;

      .img-card {
        max-width: 100%;
        aspect-ratio: 1/1;
      }
    }
  }
}